@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans";
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
}

.headingAndSwitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  margin-bottom: 2rem;
  height: 5rem;
}

.modeSwitch {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.8rem;
  height: 100%;
  cursor: pointer;
}

.moonIcon {
  width: 1rem;
  margin-right: 0.3rem;
  stroke-width: 30;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.inputAndIcon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.searchIcon {
  width: 1rem;
  position: absolute;
  left: 1rem;
}

.searchInput {
  padding: 0.5rem;
  padding-left: 3rem;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 0.7rem;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 1.5rem;
  width: 50%;
  min-width: 8rem;
  position: relative;
  cursor: pointer;
}

.arrowIcon {
  width: 0.7rem;
  margin-left: 0.2rem;
}

.filterOps { 
  position: absolute;
  top: 2rem;
  left: 0;
  list-style: none;
  padding:0;
  width: 100%;
  border-radius: 3px;
  z-index: 1;
  display: none;
  flex-direction: column;
  
}

.filterOp { 
  padding: 0.5rem;
  padding-left: 2rem;
  cursor: pointer;
}

.searchInput,
.filter {
  height: 2.5rem;
  border: none;
  border-radius: 3px;
display: flex;
align-items: center;
}

.countries {
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country {
  position: relative;
  border-radius: 5px;
  width: 100%;
  max-width: 25rem;
  margin: 1rem 0rem;
  overflow: hidden;
  cursor: pointer;
  flex-direction: column;
}

.countryName {
  margin: 1rem 0;
}

.countryTemp {
  display: none;
}

.shortInfo {
  padding: 0.5rem 1.5rem 2rem;
  line-height: 1.8rem;
}

.flagCont {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 17rem;
}

.shortInfoTitle {
  font-weight: 600;
}

.shortInfoData {
  font-weight: 300;
}

/* color Modes */
.lightMode {
  min-height: 100vh;
  color: #121517;
  background-color: hsl(0, 0%, 98%);
}

.darkMode {
  min-height: 100vh;
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
}
.darkMode .moonIcon path {
  fill: white;
  stroke: white;
}

.lightMode .moonIcon path {
  fill: transparent;
  stroke: black;
}

.darkMode .headingAndSwitch,
.darkMode .searchInput,
.darkMode .filter,
.darkMode .country,
.darkMode .backBtn,
.darkMode .filterOps,
.darkMode .borderCountry {
  color: white;
  background-color: hsl(209, 23%, 22%);
  box-shadow: rgba(20, 20, 20, 0.2) 0px 0px 18px;
}

.lightMode .headingAndSwitch,
.lightMode .searchInput,
.lightMode .filter,
.lightMode .country,
.lightMode .backBtn,
.lightMode .filterOps,
.lightMode .borderCountry {
  color: hsl(200, 15%, 8%);
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.15) 0px 0px 18px;
}

.lightMode .heading {
  color: hsl(200, 15%, 8%);
}

.darkMode .heading {
  color: white;
}

.darkMode .searchInput::placeholder {
  color: white;
}

.backIcon {
  width: 1rem;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@media (min-width: 45rem) {
  .countries {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* padding: 1rem 2rem; */
  }
  .country {
    margin: 1rem;
    margin-right: auto;
  }

  .search {
    flex-direction: row;
    align-items: center;
    padding: 0rem 3rem;
  }

  .filter {
    margin-top: 0;
  }

  .searchInput {
    max-width: 30rem;
    height: 3rem;
  }

  .filter {
    max-width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
  }
  .filterOps { 
    top: 2.5rem
  }

.headingAndSwitch { 
  padding: 1rem 3rem;
}

.heading { 
  font-size: 1.3rem;
}
.modeSwitch { 
  font-size: 0.9rem;
}

}
